body {
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
  margin: 0px;
  padding: 25px;
  background: linear-gradient(rgb(246, 247, 249), rgb(233, 237, 242));
  color: rgb(44, 44, 44);
}

.container {
  max-width: 500px;
  margin: auto;
}

.header {
  max-width: 500px;
  margin: auto;
  text-align: center;
  padding: 20px;
  background: white;
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 6px 20px;
}

.logo {
  width: 100%;
}

.producto {
  background: white;
  border-radius: 20px;
  padding: 28px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 10px 30px;
  max-width: 500px;
  margin: 25px auto;
}

.producto .imagenP img {
  width: 324px;
  display: block;
  margin: 15px auto;
  border-radius: 10px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.label {
  font-weight: bold;
}

.value {
  text-align: right;
}

.precio {
  font-size: 2em;
  color: rgb(177, 18, 0);
}

.existencias {
  font-size: 1.2em;
}

.info-row:has(#codigoP),
.info-row:has(#precioV),
.info-row:has(#existencias) {
  display: none !important;
}

.codigo_qr {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.codigo_qr img {
  width: 65px;
  height: 65px;
}

.footer {
  text-align: center;
  margin-top: 20px;
}

.print-button-container {
  text-align: center;
  margin-top: 20px;
}

.print-button {
  padding: 12px 30px;
  border: none;
  background: darkred;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}
